<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home Page</title>
  <script>
    function generateToken() {
      fetch('/generate-token', { method: 'POST' })
              .then(response => response.json())
              .then(data => {
                document.getElementById('token-display').textContent = 'Token: ' + data.token;
                localStorage.setItem('jwtToken', data.token);
              })
              .catch(error => {
                console.error('Error generating token:', error);
              });
    }

    function fetchSecuredData() {
      const token = localStorage.getItem('jwtToken');
      if (!token) {
        alert('Please generate a token first!');
        return;
      }

      fetch('/jwt-secured', {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${token}`  // Отправляем токен в заголовке Authorization
        }
      })
              .then(response => response.json())
              .then(data => {
                document.getElementById('secured-data').textContent = 'Secure Data: ' + data.message;
              })
              .catch(error => {
                console.error('Error fetching secured data:', error);
              });
    }
  </script>
</head>
<body>
<h1>Home Page</h1>
<p>Welcome, user! You have successfully logged in.</p>

<button onclick="generateToken()">Generate Token</button>
<p id="token-display"></p>

<hr>
<button onclick="fetchSecuredData()">Fetch Secured Data</button>
<p id="secured-data"></p>
</body>
</html>
